.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.Latest-News-Title
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Latest-News-Text
{
	font-family: pt-sans-n4, sans-serif;
}

#u1361.MuseMenuActive #u1364-4 p,#u1324.MuseMenuActive #u1325-4 p,#u1354.MuseMenuActive #u1356-4 p,#u1319.MuseMenuActive #u1320-4 p,#u1356-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1325-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1320-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1364-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1236-4
{
	font-family: quicksand-n7, sans-serif;
}

#u1243-4
{
	font-family: quicksand-n7, sans-serif;
}

#u1246-4,#u1451-4,#u1248-4,#u1452-4,#u1453-4,#u1454-4,#u1465-4,#u1466-4,#u1467-4,#u1483-4,#u1734-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1549,#u1550,#u1537,#u1498,#u1500,#u1499,#u1511,#u1511-3,#u1514,#u1513,#u1724-4,#u1719-12,#u1726-4
{
	font-family: open-sans-n4, sans-serif;
}

