.version.index /* version checker */
{
	color: #000012;
	background-color: #5FF487;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 4284px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u1702
{
	z-index: 206;
	height: 109px;
}

#u1702-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 206;
	top: 0px;
}

#u75
{
	z-index: 207;
	width: 88px;
	top: 0px;
	left: 16px;
}

#menuu1315
{
	z-index: 209;
	width: 896px;
	top: 0px;
	left: 104px;
}

#u1351
{
	width: 224px;
	min-height: 109px;
	margin-right: -10000px;
}

#u1354
{
	width: 224px;
	padding-bottom: 53px;
}

#u1354:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px;
}

#u1356-4
{
	width: 212px;
	min-height: 14px;
	margin-right: -10000px;
	top: 16px;
	padding: 30px 6px 10px;
}

#u1354:hover #u1356-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u1323
{
	width: 224px;
	min-height: 109px;
	margin-right: -10000px;
	left: 224px;
}

#u1324
{
	width: 224px;
	padding-bottom: 53px;
}

#u1354.MuseMenuActive,#u1324:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px;
}

#u1325-4
{
	width: 212px;
	min-height: 14px;
	margin-right: -10000px;
	top: 16px;
	padding: 30px 6px 10px;
}

#u1354.MuseMenuActive #u1356-4,#u1324:hover #u1325-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u1316
{
	width: 224px;
	min-height: 109px;
	margin-right: -10000px;
	left: 448px;
}

#u1319
{
	width: 224px;
	padding-bottom: 53px;
}

#u1324.MuseMenuActive,#u1319:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px;
}

#u1320-4
{
	width: 212px;
	min-height: 14px;
	margin-right: -10000px;
	top: 16px;
	padding: 30px 6px 10px;
}

#u1324.MuseMenuActive #u1325-4,#u1319:hover #u1320-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u1358
{
	width: 224px;
	min-height: 109px;
	margin-right: -10000px;
	left: 672px;
}

#u1361
{
	width: 224px;
	padding-bottom: 53px;
}

#u1319.MuseMenuActive,#u1361:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px;
}

#u1361.MuseMenuActive
{
	width: 224px;
	min-height: 0px;
	margin: 0px;
}

#u1364-4
{
	width: 212px;
	min-height: 14px;
	margin-right: -10000px;
	top: 16px;
	padding: 30px 6px 10px;
}

#u1319.MuseMenuActive #u1320-4,#u1361:hover #u1364-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u1361.MuseMenuActive #u1364-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#home
{
	margin-left: 523px;
	position: relative;
}

#u1231
{
	z-index: 145;
	width: 999px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 128px;
	position: relative;
}

#pamphletu1232
{
	z-index: 146;
	width: 0.01px;
	height: 11px;
	padding-bottom: 449px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1237
{
	z-index: 147;
	width: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 498px;
}

#u1240
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 2px;
	border-style: solid;
	border-color: #8CC63F;
	background-color: #8CC63F;
	border-radius: 50px;
}

#u1240:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u1239
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 2px;
	border-style: solid;
	border-color: #8CC63F;
	background-color: #8CC63F;
	border-radius: 50px;
	left: 20px;
}

#u1239:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u1238
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 2px;
	border-style: solid;
	border-color: #8CC63F;
	background-color: #8CC63F;
	border-radius: 50px;
	left: 40px;
}

#u1238:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u1240.PamphletThumbSelected,#u1239.PamphletThumbSelected,#u1238.PamphletThumbSelected
{
	border-color: #8CC63F;
	background-color: #FFFFFF;
	border-radius: 100px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u1244
{
	position: absolute;
	width: 999px;
	background-color: transparent;
	top: 45px;
}

#u1244popup
{
	z-index: 151;
}

#u1245
{
	z-index: 152;
	width: 654px;
	height: 117px;
	border-color: #464646;
	margin-right: -10000px;
	position: relative;
	padding: 245px 262px 53px 83px;
	background: #6B6B6B url("../images/slider1-01.jpg") no-repeat left top;
	background-size: cover;
}

#u1246-4
{
	z-index: 153;
	width: 469px;
	min-height: 33px;
	background-color: #A3D165;
	background-color: rgba(140,198,63,0.8);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	-pie-background: rgba(140,198,63,0.8);
}

#u1451-4
{
	z-index: 157;
	width: 645px;
	min-height: 33px;
	background-color: #A3D165;
	background-color: rgba(140,198,63,0.8);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 6px;
	position: relative;
	-pie-background: rgba(140,198,63,0.8);
}

#u1248-4
{
	z-index: 161;
	width: 368px;
	min-height: 35px;
	background-color: #A3D165;
	background-color: rgba(140,198,63,0.8);
	padding-left: 9px;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 6px;
	position: relative;
	-pie-background: rgba(140,198,63,0.8);
}

#u1253
{
	z-index: 165;
	width: 421px;
	height: 117px;
	border-color: #464646;
	margin-right: -10000px;
	position: relative;
	padding: 245px 487px 53px 91px;
	background: #6B6B6B url("../images/slider2-01.jpg") no-repeat center center;
	background-size: cover;
}

#u1452-4
{
	z-index: 166;
	width: 289px;
	min-height: 33px;
	background-color: #A3D165;
	background-color: rgba(140,198,63,0.8);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	letter-spacing: 0px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	-pie-background: rgba(140,198,63,0.8);
}

#u1453-4
{
	z-index: 170;
	width: 412px;
	min-height: 33px;
	background-color: #A3D165;
	background-color: rgba(140,198,63,0.8);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 6px;
	position: relative;
	-pie-background: rgba(140,198,63,0.8);
}

#u1454-4
{
	z-index: 174;
	width: 107px;
	min-height: 35px;
	background-color: #A3D165;
	background-color: rgba(140,198,63,0.8);
	padding-left: 9px;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 7px;
	position: relative;
	-pie-background: rgba(140,198,63,0.8);
}

#u1257
{
	z-index: 178;
	width: 298px;
	height: 117px;
	border-color: #464646;
	margin-right: -10000px;
	position: relative;
	padding: 245px 595px 53px 106px;
	background: #6B6B6B url("../images/slider3-01.jpg") no-repeat center center;
	background-size: cover;
}

#u1465-4
{
	z-index: 179;
	width: 289px;
	min-height: 33px;
	background-color: #A3D165;
	background-color: rgba(140,198,63,0.8);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	letter-spacing: 0px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	-pie-background: rgba(140,198,63,0.8);
}

#u1466-4
{
	z-index: 183;
	width: 266px;
	min-height: 33px;
	background-color: #A3D165;
	background-color: rgba(140,198,63,0.8);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 6px;
	position: relative;
	-pie-background: rgba(140,198,63,0.8);
}

#u1467-4
{
	z-index: 187;
	width: 128px;
	min-height: 35px;
	background-color: #A3D165;
	background-color: rgba(140,198,63,0.8);
	padding-left: 9px;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 7px;
	position: relative;
	-pie-background: rgba(140,198,63,0.8);
}

#u1235
{
	position: absolute;
	width: 41px;
	border-color: #C4C4C4;
	background-color: transparent;
	top: 207px;
	left: 16px;
}

#u1235:hover
{
	border-color: #999999;
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u1236-4
{
	z-index: 192;
	width: 38px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 12px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1236-4:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u1242
{
	position: absolute;
	width: 39px;
	border-color: #C4C4C4;
	background-color: transparent;
	border-radius: 2px 0px 0px 2px ;
	top: 207px;
	left: 936px;
}

#u1242:hover
{
	border-color: #999999;
	width: 39px;
	min-height: 0px;
	margin: 0px;
}

#u1243-4
{
	z-index: 197;
	width: 37px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 12px;
	line-height: 30px;
	color: #959595;
	font-size: 30px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1243-4:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1236-4:hover p,#u1243-4:hover p
{
	color: #BFBDBD;
	visibility: inherit;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pabout
{
	width: 0.01px;
	margin-top: 75px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 131px;
	left: 488px;
}

#u1477
{
	z-index: 139;
	width: 1003px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u1483-4
{
	z-index: 141;
	width: 254px;
	min-height: 38px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 388px;
}

#u1574
{
	z-index: 118;
	min-height: 109px;
	background-color: #444444;
	padding-bottom: 57px;
}

#u1574_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u1734-4
{
	z-index: 135;
	width: 846px;
	min-height: 76px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 185px;
}

#u1574-bw
{
	z-index: 118;
	min-height: 109px;
	margin-top: 66px;
}

#u1630-15
{
	z-index: 119;
	width: 938px;
	min-height: 247px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-left: 30px;
	margin-top: 26px;
	position: relative;
}

#u1630-2,#u1630-3,#u1630-5,#u1630-6,#u1630-8,#u1630-9,#u1630-11,#u1630-12
{
	text-align: left;
}

#u1621
{
	z-index: 116;
	width: 1001px;
	background-color: transparent;
	left: -1px;
	margin-top: 26px;
	position: relative;
}

#testimonials
{
	margin-left: 510px;
	margin-top: 79px;
	position: relative;
}

#pamphletu1484
{
	z-index: 21;
	width: 0.01px;
	height: 106px;
	padding-bottom: 145px;
	margin-top: 103px;
	position: relative;
}

#u1485
{
	z-index: 22;
	width: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u1488
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	background-color: #8CC63F;
	border-radius: 10px;
	top: 26px;
	left: 1px;
}

#u1488:hover
{
	background-color: #000000;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u1488.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u1486
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	background-color: #8CC63F;
	border-radius: 10px;
}

#u1486:hover
{
	background-color: #000000;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1486.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1495
{
	position: absolute;
	width: 936px;
	background-color: transparent;
	left: 45px;
}

#u1495popup
{
	z-index: 25;
}

#u1534
{
	z-index: 26;
	width: 936px;
	height: 251px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1544
{
	z-index: 27;
	width: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1551
{
	z-index: 28;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	border-radius: 50px 0px 50px 0px ;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1548-4
{
	z-index: 37;
	width: 325px;
	min-height: 86px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 99px;
}

#u1549-4
{
	z-index: 29;
	width: 251px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 89px;
}

#u1550-4
{
	z-index: 33;
	width: 251px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 89px;
}

#u1545-4
{
	z-index: 41;
	width: 69px;
	min-height: 212px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u1546
{
	z-index: 45;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 35px;
}

#u1552
{
	z-index: 47;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 20px 0px 20px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 20px;
	background: #FFFFFF url("../images/421523_113831722076841_570476376_n.jpg") no-repeat center center;
	background-size: cover;
}

#u1535
{
	z-index: 48;
	width: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 476px;
}

#u1538
{
	z-index: 49;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	border-radius: 50px 0px 50px 0px ;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1543-4
{
	z-index: 58;
	width: 325px;
	min-height: 86px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 99px;
}

#u1548,#u1543
{
	line-height: 20px;
}

#u1537-4
{
	z-index: 50;
	width: 251px;
	min-height: 25px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 89px;
}

#u1542-4
{
	z-index: 54;
	width: 251px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 89px;
}

#u1542
{
	line-height: 24px;
}

#u1539-4
{
	z-index: 62;
	width: 69px;
	min-height: 212px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u1540
{
	z-index: 66;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 35px;
}

#u1536
{
	z-index: 68;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 20px 0px 20px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 20px;
	background: #FFFFFF url("../images/12552979_10208704519596943_4241070867309559894_n.jpg") no-repeat center center;
	background-size: cover;
}

#u1496
{
	z-index: 69;
	width: 936px;
	height: 251px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1497
{
	z-index: 70;
	width: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1505
{
	z-index: 71;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	border-radius: 50px 0px 50px 0px ;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1498-4
{
	z-index: 80;
	width: 325px;
	min-height: 86px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 99px;
}

#u1500-4
{
	z-index: 72;
	width: 251px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 89px;
}

#u1499-4
{
	z-index: 76;
	width: 251px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 89px;
}

#u1502-4
{
	z-index: 84;
	width: 69px;
	min-height: 212px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u1503
{
	z-index: 88;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 35px;
}

#u1501
{
	z-index: 90;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 20px 0px 20px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 20px;
	background: #FFFFFF url("../images/ps.jpg") no-repeat center center;
	background-size: cover;
}

#u1506
{
	z-index: 91;
	width: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 476px;
}

#u1512
{
	z-index: 92;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	border-radius: 50px 0px 50px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1511-6
{
	z-index: 101;
	width: 325px;
	min-height: 86px;
	background-color: transparent;
	line-height: 21px;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 99px;
}

#u1498,#u1511,#u1511-3
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 20px;
}

#u1514-4
{
	z-index: 93;
	width: 251px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 89px;
}

#u1549,#u1537,#u1500,#u1514
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1513-4
{
	z-index: 97;
	width: 251px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 89px;
}

#u1550,#u1499,#u1513
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 24px;
}

#u1508-4
{
	z-index: 107;
	width: 69px;
	min-height: 212px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u1548-2,#u1550-2,#u1545-2,#u1543-2,#u1542-2,#u1539-2,#u1498-2,#u1499-2,#u1502-2,#u1511-2,#u1511-4,#u1513-2,#u1508-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1545,#u1539,#u1502,#u1508
{
	line-height: 208px;
}

#u1509
{
	z-index: 111;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 35px;
}

#u1507
{
	z-index: 113;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 20px 0px 20px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 20px;
	background: #FFFFFF url("../images/ah-ieu1507-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/ah.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u1613
{
	z-index: 20;
	width: 1000px;
	min-height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 77px;
	position: relative;
}

#team
{
	margin-left: 508px;
	margin-top: 34px;
	position: relative;
}

#pu1717
{
	width: 0.01px;
	margin-top: 120px;
}

#u1717
{
	z-index: 2;
	width: 375px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1724-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 412px;
}

#u1724-4
{
	z-index: 16;
	width: 235px;
	min-height: 47px;
	background-color: transparent;
	line-height: 37px;
	font-size: 31px;
	color: #8CC63F;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1719-12
{
	z-index: 4;
	width: 517px;
	min-height: 199px;
	background-color: transparent;
	line-height: 23px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 31px;
	position: relative;
}

#u1726-4
{
	z-index: 202;
	width: 977px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 13px;
	margin-top: 150px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

