#u912
{
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u912_align_to_page
{
	position: relative;
}

#menuu161
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u163
{
	background-color: #000000;
	position: relative;
}

#u163:hover
{
	background-color: #E67E22;
}

#u163:active
{
	background-color: #CACACA;
}

#u165
{
	vertical-align: top;
	position: relative;
	background: url("../images/u165.png") no-repeat 0px 0px;
}

#u163:hover #u165
{
	background: url("../images/u165-r.png") no-repeat 0px 0px;
}

#u163:active #u165
{
	background: url("../images/u165-m.png") no-repeat 0px 0px;
}

#u163.MuseMenuActive #u165
{
	background: url("../images/u165-a.png") no-repeat 0px 0px;
}

#u971
{
	background-color: #000000;
	position: relative;
}

#u971:hover
{
	background-color: #E67E22;
}

#u971:active
{
	background-color: #CACACA;
}

#u972
{
	vertical-align: top;
	position: relative;
	background: url("../images/u972.png") no-repeat 0px 0px;
}

#u971:hover #u972
{
	background: url("../images/u972-r.png") no-repeat 0px 0px;
}

#u971:active #u972
{
	background: url("../images/u972-m.png") no-repeat 0px 0px;
}

#u971.MuseMenuActive #u972
{
	background: url("../images/u972-a.png") no-repeat 0px 0px;
}

#u205
{
	background-color: #000000;
	position: relative;
}

#u205:hover
{
	background-color: #E67E22;
}

#u205:active
{
	background-color: #CACACA;
}

#u207
{
	vertical-align: top;
	position: relative;
	background: url("../images/u207.png") no-repeat 0px 0px;
}

#u205:hover #u207
{
	background: url("../images/u207-r.png") no-repeat 0px 0px;
}

#u205:active #u207
{
	background: url("../images/u207-m.png") no-repeat 0px 0px;
}

#u205.MuseMenuActive #u207
{
	background: url("../images/u207-a.png") no-repeat 0px 0px;
}

#u186
{
	background-color: #000000;
	position: relative;
}

#u186:hover
{
	background-color: #E67E22;
}

#u186:active
{
	background-color: #CACACA;
}

#u188
{
	vertical-align: top;
	position: relative;
	background: url("../images/u188.png") no-repeat 0px 0px;
}

#u186:hover #u188
{
	background: url("../images/u188-r.png") no-repeat 0px 0px;
}

#u186:active #u188
{
	background: url("../images/u188-m.png") no-repeat 0px 0px;
}

#u186.MuseMenuActive #u188
{
	background: url("../images/u188-a.png") no-repeat 0px 0px;
}

#u162,#u970,#u202,#u185,#u209
{
	background-color: transparent;
	position: relative;
}

#u212
{
	background-color: #000000;
	position: relative;
}

#u212:hover
{
	background-color: #E67E22;
}

#u212:active
{
	background-color: #CACACA;
}

#u163.MuseMenuActive,#u971.MuseMenuActive,#u205.MuseMenuActive,#u186.MuseMenuActive,#u212.MuseMenuActive
{
	background-color: #000000;
}

#u214
{
	vertical-align: top;
	position: relative;
	background: url("../images/u214.png") no-repeat 0px 0px;
}

#u212:hover #u214
{
	background: url("../images/u214-r.png") no-repeat 0px 0px;
}

#u212:active #u214
{
	background: url("../images/u214-m.png") no-repeat 0px 0px;
}

#u212.MuseMenuActive #u214
{
	background: url("../images/u214-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u834
{
	background-color: transparent;
	position: fixed;
}

