	#menuu833
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u855,#u858
	{
		background-color: transparent;
	}

	#u860-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 18px;
		text-align: center;
		font-size: 15px;
		color: #FFFFFF;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
	}

	#u858:hover #u860-4 p
	{
		font-family: sofia-pro, sans-serif;
		font-weight: 600;
		font-style: italic;
	}

	#u869,#u870
	{
		background-color: transparent;
	}

	#u871-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 18px;
		text-align: center;
		font-size: 15px;
		color: #FFFFFF;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
	}

	#u870:hover #u871-4 p
	{
		font-family: sofia-pro, sans-serif;
		font-weight: 600;
		font-style: italic;
	}

	#u841,#u844
	{
		background-color: transparent;
	}

	#u847-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 18px;
		text-align: center;
		font-size: 15px;
		color: #FFFFFF;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
	}

	#u844:hover #u847-4 p
	{
		font-family: sofia-pro, sans-serif;
		font-weight: 600;
		font-style: italic;
	}

	#u2861,#u2862
	{
		background-color: transparent;
	}

	#u2864-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 18px;
		text-align: center;
		font-size: 15px;
		color: #FFFFFF;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
	}

	#u2862:hover #u2864-4 p
	{
		font-family: sofia-pro, sans-serif;
		font-weight: 600;
		font-style: italic;
	}

	#u862,#u865
	{
		background-color: transparent;
	}

	#u866-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 18px;
		text-align: center;
		font-size: 15px;
		color: #FFFFFF;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
	}

	#u865:hover #u866-4 p
	{
		font-family: sofia-pro, sans-serif;
		font-weight: 600;
		font-style: italic;
	}

	#u834,#u835
	{
		background-color: transparent;
	}

	#u837-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 18px;
		text-align: center;
		font-size: 15px;
		color: #FFFFFF;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
	}

	#u835:hover #u837-4 p
	{
		font-family: sofia-pro, sans-serif;
		font-weight: 600;
		font-style: italic;
	}

	#u858.MuseMenuActive #u860-4 p,#u870.MuseMenuActive #u871-4 p,#u844.MuseMenuActive #u847-4 p,#u2862.MuseMenuActive #u2864-4 p,#u865.MuseMenuActive #u866-4 p,#u835.MuseMenuActive #u837-4 p
	{
		font-size: 16px;
		font-family: sofia-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u11413,#u11434
	{
		background-color: transparent;
	}

	#u11409,#u11430
	{
		display: block;
	}

	#u2258
	{
		background-color: #3C3E43;
		background-color: rgba(39,41,47,0.9);
	}

	#u5182-4
	{
		background-color: transparent;
		line-height: 36px;
		font-size: 30px;
		color: #FFFFFF;
		font-family: sofia-pro, sans-serif;
		font-weight: 200;
	}

	#u3911_align_to_page
	{
		max-width: 1400px;
	}


