	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 589.7999999999975px;
		max-width: 1400px;
	}

	#u817
	{
		z-index: 296;
		width: 100.08%;
		margin-left: 0.08%;
		left: 1px;
	}

	#home
	{
		margin-top: 36px;
		left: 20px;
	}

	#u11845-4
	{
		z-index: 237;
		margin-top: 464px;
		width: 45.65%;
		left: 9.29%;
	}

	#pu819-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 244px;
		width: 61.93%;
		margin-left: 38.08%;
	}

	#u819-4
	{
		z-index: 298;
		min-height: 26px;
		background-color: transparent;
		text-align: right;
		font-size: 60px;
		color: #FFFFFF;
		line-height: 72px;
		letter-spacing: 11px;
		font-family: sofia-pro, sans-serif;
		font-weight: 500;
		position: relative;
		width: 100%;
		margin-left: 0%;
		left: -19.999999999999886px;
	}

	#u820-4
	{
		z-index: 302;
		min-height: 45px;
		background-color: transparent;
		line-height: 36px;
		text-align: right;
		font-size: 30px;
		color: #FFFFFF;
		font-family: sofia-pro, sans-serif;
		font-weight: 200;
		margin-top: 21px;
		position: relative;
		width: 87.55%;
		margin-left: 12.46%;
		left: -19.999999999999886px;
	}

	#u5191
	{
		z-index: 311;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 576px;
		width: 6.36%;
		margin-left: 46.83%;
		left: 1px;
	}

	#u5187
	{
		z-index: 312;
		display: block;
		width: 100%;
	}

	#ppmenuu833
	{
		padding-bottom: 18px;
		margin-top: -665px;
		width: 100%;
	}

	#pmenuu833
	{
		padding-bottom: 34px;
		margin-right: -10000px;
		margin-top: 30px;
		margin-left: 764px;
		width: 39.86%;
	}

	#menuu833
	{
		z-index: 314;
		width: 470px;
		position: fixed;
		top: 30px;
		right: 166px;
	}

	#u855
	{
		width: 71px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
	}

	#u858
	{
		width: 71px;
		padding-bottom: 16px;
		position: relative;
	}

	#u860-4
	{
		width: 43px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 14px;
	}

	#u858:hover #u860-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 43px;
		margin: 0px -10000px 0px 0px;
	}

	#u869
	{
		width: 71px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 73px;
	}

	#u870
	{
		width: 71px;
		padding-bottom: 16px;
		position: relative;
	}

	#u858.MuseMenuActive,#u870.MuseMenuActive
	{
		width: 71px;
		min-height: 0px;
		margin: 0px;
	}

	#u871-4
	{
		width: 43px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 14px;
	}

	#u858.MuseMenuActive #u860-4,#u870:hover #u871-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 43px;
		margin: 0px -10000px 0px 0px;
	}

	#u870.MuseMenuActive #u871-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 43px;
		margin: 0px -10000px 0px 0px;
	}

	#u841
	{
		width: 111px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 146px;
	}

	#u844
	{
		width: 111px;
		padding-bottom: 16px;
		position: relative;
	}

	#u844.MuseMenuActive
	{
		width: 111px;
		min-height: 0px;
		margin: 0px;
	}

	#u847-4
	{
		width: 83px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 14px;
	}

	#u844:hover #u847-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 83px;
		margin: 0px -10000px 0px 0px;
	}

	#u844.MuseMenuActive #u847-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 83px;
		margin: 0px -10000px 0px 0px;
	}

	#u2861
	{
		width: 59px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 259px;
	}

	#u2862
	{
		width: 59px;
		padding-bottom: 16px;
		position: relative;
	}

	#u2862.MuseMenuActive
	{
		width: 59px;
		min-height: 0px;
		margin: 0px;
	}

	#u2864-4
	{
		width: 32px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 13px;
	}

	#u2862:hover #u2864-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 32px;
		margin: 0px -10000px 0px 0px;
	}

	#u2862.MuseMenuActive #u2864-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 32px;
		margin: 0px -10000px 0px 0px;
	}

	#u862
	{
		width: 64px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 320px;
	}

	#u865
	{
		width: 64px;
		padding-bottom: 16px;
		position: relative;
	}

	#u865.MuseMenuActive
	{
		width: 64px;
		min-height: 0px;
		margin: 0px;
	}

	#u866-4
	{
		width: 37px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 13px;
	}

	#u865:hover #u866-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 37px;
		margin: 0px -10000px 0px 0px;
	}

	#u865.MuseMenuActive #u866-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 37px;
		margin: 0px -10000px 0px 0px;
	}

	#u834
	{
		width: 84px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 386px;
	}

	#u835
	{
		width: 84px;
		padding-bottom: 16px;
		position: relative;
	}

	#u835.MuseMenuActive
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u837-4
	{
		width: 57px;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		top: 8px;
		left: 13px;
	}

	#u835:hover #u837-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 57px;
		margin: 0px -10000px 0px 0px;
	}

	#u835.MuseMenuActive #u837-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 18px;
		width: 57px;
		margin: 0px -10000px 0px 0px;
	}

	#u11413
	{
		z-index: 351;
		position: fixed;
		top: 41px;
		right: 133px;
		width: 0.65%;
		max-width: 9px;
	}

	#u11409
	{
		z-index: 352;
		width: 111.12%;
	}

	#u11434
	{
		z-index: 353;
		position: fixed;
		top: 41px;
		right: 78px;
		width: 1.72%;
		max-width: 24px;
	}

	#u11430
	{
		z-index: 354;
		width: 100%;
	}

	#u2258
	{
		z-index: 295;
		height: 82px;
	}

	#u2258-bw
	{
		z-index: 295;
	}

	#u5175
	{
		z-index: 355;
		width: 59px;
		top: 19px;
		left: 47px;
	}

	#u5171
	{
		z-index: 356;
	}

	#u5182-4
	{
		z-index: 357;
		min-height: 29px;
		position: fixed;
		top: 29px;
		left: 121px;
		width: 8.72%;
		max-width: 122px;
	}

	#info
	{
		margin-left: 20px;
		margin-top: 11px;
	}

	#u6782-4
	{
		z-index: 241;
		min-height: 53px;
		background-color: transparent;
		line-height: 43px;
		text-align: center;
		font-size: 36px;
		font-family: sofia-pro, sans-serif;
		font-weight: 500;
		margin-top: 96px;
		position: relative;
		width: 31.72%;
		margin-left: 34.15%;
		left: 0px;
	}

	#pu6663-8
	{
		margin-top: 18px;
		width: 100%;
	}

	#u6663-8
	{
		z-index: 245;
		min-height: 210px;
		background-color: transparent;
		line-height: 24px;
		font-size: 20px;
		font-family: sofia-pro, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 86.86%;
		margin-left: 6.58%;
		left: -11px;
	}

	#u6663-2,#u6663-4,#u6663-5
	{
		text-align: center;
	}

	#u6670
	{
		z-index: 253;
		margin-top: 186px;
		width: 9.58%;
		margin-left: 45.22%;
		left: -319px;
	}

	#u6666
	{
		z-index: 254;
	}

	#u6676
	{
		z-index: 255;
		margin-top: 186px;
		width: 9.58%;
		margin-left: 45.22%;
		left: -163px;
	}

	#u6672
	{
		z-index: 256;
	}

	#u6688
	{
		z-index: 257;
		margin-top: 186px;
		width: 9.58%;
		margin-left: 45.22%;
		left: 317px;
	}

	#u6684
	{
		z-index: 258;
	}

	#u6682
	{
		z-index: 259;
		margin-top: 186px;
		width: 9.58%;
		margin-left: 45.22%;
		left: -475px;
	}

	#u6678
	{
		z-index: 260;
	}

	#u6706
	{
		z-index: 261;
		margin-top: 186px;
		width: 9.58%;
		margin-left: 45.22%;
		left: 477px;
	}

	#u6702
	{
		z-index: 262;
	}

	#u6694
	{
		z-index: 263;
		margin-top: 186px;
		width: 9.58%;
		margin-left: 45.22%;
		left: 157px;
	}

	#u6690
	{
		z-index: 264;
	}

	#u6700
	{
		z-index: 265;
		margin-top: 186px;
		width: 9.58%;
		margin-left: 45.22%;
		left: -3px;
	}

	#u6696
	{
		z-index: 266;
	}

	#u6752-4
	{
		z-index: 267;
		min-height: 25px;
		background-color: transparent;
		line-height: 19px;
		text-align: center;
		font-size: 16px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		width: 9.43%;
		margin-left: 45.29%;
		left: -478px;
	}

	#u6755-4
	{
		z-index: 271;
		min-height: 25px;
		background-color: transparent;
		line-height: 19px;
		text-align: center;
		font-size: 16px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		width: 9.43%;
		margin-left: 45.29%;
		left: -321px;
	}

	#u6758-4
	{
		z-index: 275;
		min-height: 25px;
		background-color: transparent;
		line-height: 19px;
		text-align: center;
		font-size: 16px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		width: 9.43%;
		margin-left: 45.29%;
		left: -164px;
	}

	#u6761-4
	{
		z-index: 279;
		min-height: 25px;
		background-color: transparent;
		line-height: 19px;
		text-align: center;
		font-size: 16px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		width: 9.43%;
		margin-left: 45.29%;
		left: -7px;
	}

	#u6767-4
	{
		z-index: 283;
		min-height: 25px;
		background-color: transparent;
		line-height: 19px;
		text-align: center;
		font-size: 16px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		width: 9.43%;
		margin-left: 45.29%;
		left: 157px;
	}

	#u6770-4
	{
		z-index: 287;
		min-height: 25px;
		background-color: transparent;
		line-height: 19px;
		text-align: center;
		font-size: 16px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		width: 9.43%;
		margin-left: 45.29%;
		left: 314px;
	}

	#u6773-4
	{
		z-index: 291;
		min-height: 25px;
		background-color: transparent;
		line-height: 19px;
		text-align: center;
		font-size: 16px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		width: 9.43%;
		margin-left: 45.29%;
		left: 478px;
	}

	#about
	{
		margin-left: 20px;
		margin-top: 34px;
	}

	#pu6001
	{
		margin-top: 73px;
	}

	#u6001
	{
		z-index: 141;
		margin-left: 0%;
		left: -1px;
	}

	#pamphletu6354
	{
		z-index: 143;
		width: 0.01px;
		height: 205px;
		padding-bottom: 24px;
		position: relative;
		margin-right: -10000px;
		margin-top: 161px;
		left: 65px;
	}

	#u6359
	{
		position: absolute;
		width: 573px;
		background-color: transparent;
	}

	#u6359popup
	{
		z-index: 144;
	}

	#u6370
	{
		z-index: 145;
		width: 573px;
		height: 229px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		border-radius: 15px 15px 0px 15px ;
		margin-right: -10000px;
		position: relative;
	}

	#u6645-10
	{
		z-index: 146;
		min-height: 179px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 28px;
		width: 93.2%;
		left: 4.37%;
	}

	#u6647
	{
		z-index: 150;
		width: 240px;
		background-color: transparent;
	}

	#u6648
	{
		z-index: 151;
		display: block;
		margin-left: 38px;
	}

	#u6360
	{
		z-index: 159;
		width: 573px;
		height: 229px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		border-radius: 0px 15px 15px 15px ;
		margin-right: -10000px;
		position: relative;
	}

	#u6484-11
	{
		z-index: 160;
		min-height: 179px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 28px;
		width: 93.2%;
		left: 4.37%;
	}

	#u6486
	{
		z-index: 164;
		width: 240px;
		background-color: transparent;
	}

	#u6487
	{
		z-index: 165;
		display: block;
		margin-left: 38px;
	}

	#u6484-9
	{
		color: #000000;
		font-family: sofia-pro, sans-serif;
		font-weight: 400;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u6484-7
	{
		font-size: 24px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		line-height: 34px;
	}

	#u6484-8
	{
		font-size: 18px;
		line-height: 25px;
	}

	#u6365
	{
		z-index: 174;
		width: 573px;
		height: 229px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		border-radius: 15px 15px 15px 0px ;
		margin-right: -10000px;
		position: relative;
	}

	#u6612-10
	{
		z-index: 175;
		min-height: 179px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 28px;
		width: 93.2%;
		left: 4.37%;
	}

	#u6614
	{
		z-index: 179;
		width: 240px;
		background-color: transparent;
	}

	#u6615
	{
		z-index: 180;
		display: block;
		margin-left: 38px;
	}

	#u6505
	{
		z-index: 188;
		width: 573px;
		height: 229px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		border-radius: 15px 15px 15px 0px ;
		margin-right: -10000px;
		position: relative;
	}

	#u6521-10
	{
		z-index: 189;
		min-height: 179px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 28px;
		width: 93.2%;
		left: 4.37%;
	}

	#u6523
	{
		z-index: 193;
		width: 240px;
		background-color: transparent;
	}

	#u6524
	{
		z-index: 194;
		display: block;
		margin-left: 38px;
	}

	#u6536
	{
		z-index: 202;
		width: 573px;
		height: 229px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		border-radius: 15px 15px 15px 0px ;
		margin-right: -10000px;
		position: relative;
	}

	#u6558-10
	{
		z-index: 203;
		min-height: 179px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 28px;
		width: 93.2%;
		left: 4.37%;
	}

	#u6560
	{
		z-index: 207;
		width: 240px;
		background-color: transparent;
	}

	#u6561
	{
		z-index: 208;
		display: block;
		margin-left: 38px;
	}

	#u6552
	{
		z-index: 216;
		width: 573px;
		height: 229px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		border-radius: 15px 15px 15px 0px ;
		margin-right: -10000px;
		position: relative;
	}

	#u6588-10
	{
		z-index: 217;
		min-height: 179px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 28px;
		width: 93.2%;
		left: 4.37%;
	}

	#u6646,#u6485,#u6613,#u6522,#u6559,#u6589
	{
		float: left;
		margin-top: 16px;
		margin-bottom: -16px;
		margin-right: 17px;
	}

	#u6590
	{
		z-index: 221;
		width: 240px;
		background-color: transparent;
	}

	#u6591
	{
		z-index: 222;
		display: block;
		margin-left: 38px;
	}

	#u6645-2,#u6645-3,#u6645-4,#u6645-5,#u6484-2,#u6484-3,#u6484-4,#u6484-5,#u6612-2,#u6612-3,#u6612-4,#u6612-5,#u6521-2,#u6521-3,#u6521-4,#u6521-5,#u6558-2,#u6558-3,#u6558-4,#u6558-5,#u6588-2,#u6588-3,#u6588-4,#u6588-5
	{
		color: #6B6B6B;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
		font-weight: bold;
	}

	#u6645-6,#u6484-6,#u6612-6,#u6521-6,#u6558-6,#u6588-6
	{
		line-height: 20px;
		color: #999999;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u6645-8,#u6612-8,#u6521-8,#u6558-8,#u6588-8
	{
		font-size: 24px;
		line-height: 34px;
		color: #000000;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
	}

	#u6355
	{
		z-index: 230;
		width: 8px;
		position: relative;
		margin-right: -10000px;
		margin-top: 48px;
		left: 8px;
	}

	#u6356
	{
		position: absolute;
		width: 8px;
		height: 8px;
		border-width: 0px;
		border-color: transparent;
		background-color: #C4C4C4;
		border-radius: 10px;
	}

	#u6356:hover
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #999999;
		width: 8px;
		height: 8px;
		min-height: 0px;
		margin: 0px;
	}

	#u6356.PamphletThumbSelected
	{
		background-color: #6B6B6B;
		border-radius: 10px;
		width: 8px;
		height: 8px;
		min-height: 0px;
		margin: 0px;
	}

	#u6358
	{
		position: absolute;
		width: 8px;
		height: 8px;
		border-width: 0px;
		border-color: transparent;
		background-color: #C4C4C4;
		border-radius: 10px;
		top: 28px;
	}

	#u6358:hover
	{
		background-color: #999999;
		width: 8px;
		height: 8px;
		min-height: 0px;
		margin: 0px;
	}

	#u6357
	{
		position: absolute;
		width: 8px;
		height: 8px;
		background-color: #C4C4C4;
		border-radius: 10px;
		top: 59px;
	}

	#u6357:hover
	{
		border-color: #000000;
		background-color: #999999;
		width: 8px;
		height: 8px;
		min-height: 0px;
		margin: 0px;
	}

	#u6518
	{
		position: absolute;
		width: 8px;
		height: 8px;
		background-color: #C4C4C4;
		border-radius: 10px;
		top: 91px;
	}

	#u6518:hover
	{
		border-color: #000000;
		background-color: #999999;
		width: 8px;
		height: 8px;
		min-height: 0px;
		margin: 0px;
	}

	#u6549
	{
		position: absolute;
		width: 8px;
		height: 8px;
		background-color: #C4C4C4;
		border-radius: 10px;
		top: 123px;
	}

	#u6549:hover
	{
		border-color: #000000;
		background-color: #999999;
		width: 8px;
		height: 8px;
		min-height: 0px;
		margin: 0px;
	}

	#u6555
	{
		position: absolute;
		width: 8px;
		height: 8px;
		background-color: #C4C4C4;
		border-radius: 10px;
		top: 149px;
	}

	#u6555:hover
	{
		border-color: #000000;
		background-color: #999999;
		width: 8px;
		height: 8px;
		min-height: 0px;
		margin: 0px;
	}

	#u6358.PamphletThumbSelected,#u6357.PamphletThumbSelected,#u6518.PamphletThumbSelected,#u6549.PamphletThumbSelected,#u6555.PamphletThumbSelected
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #6B6B6B;
		border-radius: 10px;
		width: 8px;
		height: 8px;
		min-height: 0px;
		margin: 0px;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}

	#u6779
	{
		z-index: 114;
		min-height: 614px;
		padding-bottom: 144px;
	}

	#u6779_align_to_page
	{
		max-width: 1400px;
	}

	#testimonials
	{
		left: 20px;
	}

	#u12764
	{
		z-index: 140;
		min-height: 484px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 130px;
		width: 60.93%;
		left: 18.5%;
	}

	#u6779-bw
	{
		z-index: 114;
		min-height: 614px;
		margin-top: 16px;
	}

	#u7108-4
	{
		z-index: 115;
		min-height: 53px;
		background-color: transparent;
		line-height: 43px;
		text-align: center;
		font-size: 36px;
		font-family: sofia-pro, sans-serif;
		font-weight: 500;
		margin-top: 111px;
		position: relative;
		width: 31.72%;
		margin-left: 34.15%;
		left: 19px;
	}

	#u7105
	{
		z-index: 119;
		margin-top: 37px;
		width: 67.58%;
		margin-left: 16.22%;
		left: 18px;
	}

	#pu7005
	{
		padding-bottom: 1px;
		margin-top: 3px;
		width: 29.29%;
		margin-left: 35.36%;
	}

	#u7005
	{
		z-index: 122;
		margin-left: 0%;
		left: -334.5px;
	}

	#pu7045
	{
		margin-top: 11px;
		width: 93.51%;
		margin-left: 3.25%;
	}

	#u7045
	{
		z-index: 130;
		width: 37.46%;
		margin-left: 31.28%;
		left: -424.5px;
	}

	#u7055
	{
		z-index: 132;
		width: 54.83%;
		margin-left: 22.59%;
		left: -284.5px;
	}

	#ppu7025
	{
		padding-bottom: 1px;
		width: 32.67%;
		margin-left: 33.67%;
	}

	#pu7025
	{
		width: 90.3%;
		margin-left: 4.86%;
	}

	#u7025
	{
		z-index: 126;
		width: 64.88%;
		margin-left: 17.57%;
		left: -98.5px;
	}

	#u7095
	{
		z-index: 138;
		margin-top: 2px;
		width: 31.19%;
		margin-left: 34.41%;
		left: 46.5px;
	}

	#pu7075
	{
		margin-top: 7px;
		margin-left: 0%;
	}

	#u7075
	{
		z-index: 120;
		width: 98.06%;
		margin-left: 0.98%;
		left: -43.5px;
	}

	#u7085
	{
		z-index: 136;
		width: 59.88%;
		margin-left: 20.07%;
		left: 21.5px;
	}

	#ppu7065
	{
		width: 36.58%;
		margin-left: 31.72%;
	}

	#pu7065
	{
		margin-left: 0%;
	}

	#u7065
	{
		z-index: 134;
		width: 59.54%;
		margin-left: 20.24%;
		left: 229.99999999999994px;
	}

	#u7015
	{
		z-index: 124;
		margin-top: 4px;
		width: 34.69%;
		margin-left: 32.66%;
		left: 412.99999999999994px;
	}

	#u7045_img,#u7015_img
	{
		padding-bottom: 1px;
	}

	#u7035
	{
		z-index: 128;
		margin-top: 12px;
		width: 93.36%;
		margin-left: 3.33%;
		left: 287.99999999999994px;
	}

	#faqs
	{
		margin-left: 45px;
	}

	#u5474-4
	{
		z-index: 109;
		min-height: 53px;
		background-color: transparent;
		line-height: 43px;
		text-align: center;
		font-size: 36px;
		font-family: sofia-pro, sans-serif;
		font-weight: 500;
		margin-top: 133px;
		position: relative;
		width: 94.58%;
		margin-left: 2.72%;
		left: 0px;
	}

	#accordionu5388
	{
		z-index: 68;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-top: 10px;
		position: relative;
		width: 97.29%;
		margin-left: 1.36%;
		left: 1px;
	}

	#u5389
	{
		z-index: 69;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u5392-4
	{
		z-index: 70;
		min-height: 24px;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: transparent;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		width: 100%;
	}

	#u5392-4:hover
	{
		background-color: #F2F2F2;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 24px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u5392-4:active
	{
		background-color: #F2F2F2;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 24px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u5390
	{
		z-index: 74;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #FFFFFF;
		padding-bottom: 16px;
		position: relative;
		width: 100%;
	}

	#u5391-4
	{
		z-index: 75;
		min-height: 105px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 25px;
		text-align: center;
		font-size: 18px;
		color: #000000;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: -1px;
		width: 99.12%;
		left: 0.67%;
	}

	#u5477
	{
		z-index: 79;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u5480-4
	{
		z-index: 80;
		min-height: 24px;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: transparent;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		width: 100%;
	}

	#u5480-4:hover
	{
		background-color: #F2F2F2;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 24px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u5480-4:active
	{
		background-color: #F2F2F2;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 24px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u5478
	{
		z-index: 84;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #FFFFFF;
		padding-bottom: 12px;
		position: relative;
		width: 100%;
	}

	#u5500-4
	{
		z-index: 85;
		min-height: 72px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 25px;
		text-align: center;
		font-size: 18px;
		color: #000000;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: -1px;
		width: 99.12%;
		left: 0.74%;
	}

	#u5397
	{
		z-index: 89;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u5398-4
	{
		z-index: 90;
		min-height: 24px;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: transparent;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		width: 100%;
	}

	#u5398-4:hover
	{
		background-color: #F2F2F2;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 24px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u5398-4:active
	{
		background-color: #F2F2F2;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 24px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u5399
	{
		z-index: 94;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #FFFFFF;
		padding-bottom: 13px;
		position: relative;
		width: 100%;
	}

	#u5400-4
	{
		z-index: 95;
		min-height: 72px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 25px;
		text-align: center;
		font-size: 18px;
		color: #000000;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: -1px;
		width: 99.12%;
		left: 0.67%;
	}

	#u5393
	{
		z-index: 99;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u5396-4
	{
		z-index: 100;
		min-height: 24px;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: transparent;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		width: 100%;
	}

	#u5396-4:hover
	{
		background-color: #F2F2F2;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 24px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u5396-4:active
	{
		background-color: #F2F2F2;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 24px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u5392-4.AccordionPanelTabOpen,#u5480-4.AccordionPanelTabOpen,#u5398-4.AccordionPanelTabOpen,#u5396-4.AccordionPanelTabOpen
	{
		background-color: #FFFFFF;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 24px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u5392-3,#u5480-3,#u5398-3,#u5396-3
	{
		line-height: 24px;
		text-align: center;
		font-size: 24px;
		color: #000000;
		font-family: sofia-pro, sans-serif;
		font-weight: 400;
		margin-left: 10px;
	}

	#u5394
	{
		z-index: 104;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #FFFFFF;
		padding-bottom: 14px;
		position: relative;
		width: 100%;
	}

	#u5395-4
	{
		z-index: 105;
		min-height: 105px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 25px;
		text-align: center;
		font-size: 18px;
		color: #000000;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: -1px;
		width: 99.2%;
		left: 0.67%;
	}

	#u5395
	{
		font-size: 18px;
	}

	#pu6752-4,#pu2643
	{
		margin-top: 10px;
		width: 100%;
	}

	#u2643
	{
		z-index: 38;
		height: 39px;
	}

	#u2643-bw
	{
		z-index: 38;
		margin-top: 88px;
		height: 39px;
	}

	#u6891
	{
		z-index: 113;
		min-height: 100px;
		margin-right: -10000px;
		width: 35.29%;
		margin-left: 32.36%;
		left: 6px;
	}

	#team
	{
		margin-left: 20px;
	}

	#ppu6895-4
	{
		margin-top: 79px;
		width: 100%;
	}

	#pu6895-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-left: 53px;
		width: 50.08%;
	}

	#u6895-4
	{
		z-index: 8;
		min-height: 56px;
		background-color: transparent;
		line-height: 43px;
		text-align: left;
		font-size: 36px;
		font-family: sofia-pro, sans-serif;
		font-weight: 500;
		position: relative;
		width: 54.93%;
	}

	#pu6903-25
	{
		margin-left: 2px;
		margin-top: 9px;
		width: 99.72%;
	}

	#u6903-25
	{
		z-index: 12;
		min-height: 263px;
		background-color: transparent;
		line-height: 19px;
		font-size: 16px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u6903-9
	{
		font-family: sofia-pro, sans-serif;
		font-weight: 500;
	}

	#u6903-16
	{
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u6903-2,#u6903-8,#u6903-17,#u6903-18,#u6903-19,#u6903-20,#u6903-21,#u6903-22,#u6903-23
	{
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
	}

	#u6906-12
	{
		z-index: 43;
		min-height: 85px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 245px;
		width: 39.49%;
	}

	#u6909-13
	{
		z-index: 55;
		min-height: 85px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 245px;
		left: 393px;
		width: 39.49%;
	}

	#u6906-5,#u6909-8
	{
		font-size: 16px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u6903-10,#u6906,#u6909-3
	{
		font-size: 18px;
		font-family: sofia-pro, sans-serif;
		font-weight: 500;
		line-height: 22px;
	}

	#u6903-15,#u6906-4,#u6909-7
	{
		line-height: 19px;
	}

	#u6906-7,#u6906-9,#u6909-10
	{
		font-size: 16px;
		line-height: 19px;
		font-family: sofia-pro, sans-serif;
		font-weight: 300;
	}

	#u6898
	{
		z-index: 37;
		height: 389px;
		margin-right: -10000px;
		margin-top: 11px;
		width: 40%;
		margin-left: 60%;
		left: -18px;
	}

	#pu2649
	{
		margin-top: 21px;
		width: 100%;
	}

	#u2649
	{
		height: 77px;
	}

	#u2649-bw
	{
		margin-top: 18px;
		height: 77px;
	}

	#u6977-4
	{
		z-index: 39;
		min-height: 33px;
		background-color: transparent;
		line-height: 36px;
		text-align: center;
		font-size: 30px;
		font-family: sofia-pro, sans-serif;
		font-weight: 700;
		position: relative;
		margin-right: -10000px;
		width: 63.43%;
		margin-left: 18.29%;
		left: 0px;
	}

	#u3911
	{
		min-height: 37px;
		padding-bottom: 20px;
	}

	#u3922-4
	{
		margin-top: 18px;
		left: 431px;
		width: 44.08%;
	}

	#u3911-bw
	{
		min-height: 37px;
	}

