.version.team /* version checker */
{
	color: #0000ED;
	background-color: #2A21FC;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 26.923832923832926px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 29px;
	padding-bottom: 514.076167076167px;
}

#u1660
{
	width: 74px;
	min-height: 27px;
	margin-right: -10000px;
}

#u1663
{
	width: 74px;
	padding-bottom: 10px;
}

#u1663:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1663:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1666-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1663:hover #u1666-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1663:active #u1666-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1667
{
	width: 74px;
	min-height: 27px;
	margin-right: -10000px;
	left: 76px;
}

#u1668
{
	width: 74px;
	padding-bottom: 10px;
}

#u1663.MuseMenuActive,#u1668:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1668:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1671-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1663.MuseMenuActive #u1666-4,#u1668:hover #u1671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1668:active #u1671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1674
{
	width: 74px;
	min-height: 27px;
	margin-right: -10000px;
	left: 152px;
}

#u1675
{
	width: 74px;
	padding-bottom: 10px;
}

#u1668.MuseMenuActive,#u1675:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1675:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1675.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1678-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1668.MuseMenuActive #u1671-4,#u1675:hover #u1678-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1675:active #u1678-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1675.MuseMenuActive #u1678-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1681
{
	width: 75px;
	min-height: 27px;
	margin-right: -10000px;
	left: 228px;
}

#u1684
{
	width: 75px;
	padding-bottom: 10px;
}

#u1684:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1684:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1687-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1684:hover #u1687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1684:active #u1687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1688
{
	width: 75px;
	min-height: 27px;
	margin-right: -10000px;
	left: 305px;
}

#u1691
{
	width: 75px;
	padding-bottom: 10px;
}

#u1684.MuseMenuActive,#u1691:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1691:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1691.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1694-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u1684.MuseMenuActive #u1687-4,#u1691:hover #u1694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1691:active #u1694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1691.MuseMenuActive #u1694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#menuu1659,#menuu1659-bw
{
	z-index: 2;
	min-height: 27px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

